<a data-ui-sref="wdinstagramNew">New Wdinstagram</a>

<h2>These are all the wdinstagrams</h2>

<div data-ng-repeat="wdinstagram in vm.wdinstagrams | orderBy:'-created_at'">
  <!-- <p><img src="{{wdinstagram.photo_url}}"></p>
  <p>{{wdinstagram.author}}</p>
  <p>{{wdinstagram.body}}</p> -->

  <p><a data-ui-sref="wdinstagramShow({id: wdinstagram.id})">{{wdinstagram.author}}</a></p>
  <a data-ui-sref="wdinstagramEdit({id: wdinstagram.id})">Edit</a>
</div>

<form>
  <input placeholder="photo url" data-ng-model="vm.photo_url" /><br />
  <input placeholder="Author name" data-ng-model="vm.author" /> <br />
  <textarea placeholder="Grumble content" data-ng-model="vm.body"></textarea><br />
  <button type="button" data-ng-click="vm.create()">Create</button>
</form>
